body.green {
  background-color: rgb(193, 249, 194);
}

body.blue {
  background-color: rgb(178, 214, 255);
}

body.red {
  background-color: lightsalmon;
}

p {
  width: 165px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  margin-top: 1rem;
}
